In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import certifi
import urllib3
import html5lib
import math
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
from IPython.display import HTML
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
import psycopg2

Import HTML File

In [2]:
URL = "https://www.ttilgb.com/uiAgs03Action/openScreen.do"
res = requests.get(URL, 'lxml', verify=False)
soup = BeautifulSoup(res.content, 'lxml')

Find needed Table from web page
*To find needed table look for children or you Soup and prettify

In [3]:
#Or children = table.findChildren()
#for child in children:
    #print (child)

In [4]:
#Find table
table1 = soup.find_all('tr')[0]

In [5]:
df1 = pd.read_html(str(table1))
#print (df1)

In [6]:
#filter what we need
table2 = soup.find_all("td", { "class" : "h23" })

In [7]:
df2 = pd.read_html(str(table2))
#df2

In [8]:
#soupparser = BeautifulSoup(res.content, 'html.parser')
#print(soupparser.prettify())

In [9]:
#filter what we need
table = soup.find('tbody')

Extract and clean data

In [10]:
#pull data cleanly as possible, tried several loop functions to pull, 
#but with the muliple rowspans and colspans was taking to long and decided to clean with pandas
res = []
row = []

for tr in table.find_all('tr'):
     for td in tr.find_all('td'):
         row.append(td.text.strip())
     res.append(row)
     row = []

In [11]:
df = pd.DataFrame(data=res)
#df

In [12]:
#replace values not needed
df2=df.replace(to_replace= ["TRANSACTION TYPE"], value=' ', regex=True)
df22=df2.replace(to_replace= ["None"], value=' ', regex=True)
#df22

In [13]:
#drop rows of other lines
df3=df22.drop(df.index[[0,2,3,8,9,10,11,12,13,14,15,16,17,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70]])
#df3

In [14]:
#fill down values for line
for col in [11]:
    df3[col] = df3[col].ffill()

In [15]:
#Fix mis alignment of df bu using fillna caused by row/colspans in orginal html with if logic & finish filtering
df3[10] = df3[10].fillna(value=df3[9])
df3.loc[df3[1] == "20'",1] = df3[2] 
df3.loc[df3[2] == "",2] = df3[7] 
df3.loc[df3[3] == "",3] = df3[4] 
df4=df3.drop(columns=[0,4,5,6,7,8,9])
#print(df4)

In [16]:
#Change Headers for line and equip type
df4[10] = df4[10].fillna(value="Type")
df4[11] = df4[11].fillna(value="Line")
#df4.head()

In [17]:
# Set Headers
new_header = df4.iloc[0] 
df4 = df4[1:] 
df4.columns = new_header 
#df4.head()

In [18]:
#Reorder 
col_name="Type"
first_col = df4.pop(col_name)
df4.insert(0, col_name, first_col)

In [19]:
#Reorder part duex....bc I did want to learn how to do it for both columns at once
col_name="Line"
first_col = df4.pop(col_name)
df4.insert(0, col_name, first_col)
#df4

In [21]:
dates = df4.iloc[:, [2,3,4]]

In [22]:
df5=df4.melt(id_vars=["Line","Type"], 
              var_name="Date", value_name="TTI Status")
#df5

In [23]:
#df5.to_excel(r"C:\Users\CodyS\Desktop\ETL-Project\data.xlsx", index = False)
#df5.to_csv(r"C:\Users\CodyS\Desktop\ETL-Project\TTI.csv", index = False)

In [25]:
engine = sqlalchemy.create_engine('postgresql://postgres:Chester8!@localhost:5432/ETL-Project')
con = engine.connect()
table_name = 'TTI Gate'
df5.to_sql(table_name, con)

In [ ]:
#df5.to_excel(r"C:\Users\CodyS\Desktop\ETL-Project\data.xlsx", index = False)
#df5.to_csv(r"C:\Users\CodyS\Desktop\ETL-Project\TTI.csv", index = False)