In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import certifi
import urllib3
import html5lib
import math
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
from IPython.display import HTML
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
import psycopg2

Import HTML File

In [2]:
URL = "https://www.ttilgb.com/uiAgs03Action/openScreen.do"
res = requests.get(URL, 'lxml', verify=False)
soup = BeautifulSoup(res.content, 'lxml')

Find needed Table from web page
*To find needed table look for children or you Soup and prettify

In [3]:
#Or children = table.findChildren()
#for child in children:
    #print (child)

In [4]:
#Find table
table1 = soup.find_all('tr')[0]

In [5]:
df1 = pd.read_html(str(table1))
print (df1)

In [6]:
#filter what we need
table2 = soup.find_all("td", { "class" : "h23" })

In [7]:
df2 = pd.read_html(str(table2))
df2

In [8]:
soupparser = BeautifulSoup(res.content, 'html.parser')
print(soupparser.prettify())

In [9]:
#filter what we need
table = soup.find('tbody')

Extract and clean data

In [10]:
#pull data cleanly as possible, tried several loop functions to pull, 
#but with the muliple rowspans and colspans was taking to long and decided to clean with pandas
res = []
row = []

for tr in table.find_all('tr'):
     for td in tr.find_all('td'):
         row.append(td.text.strip())
     res.append(row)
     row = []

In [11]:
df = pd.DataFrame(data=res)
df

In [12]:
#replace values not needed
df2=df.replace(to_replace= ["TRANSACTION TYPE"], value=' ', regex=True)
df22=df2.replace(to_replace= ["None"], value=' ', regex=True)
df22.head(50)

In [13]:
#drop rows of other lines
df3=df22.drop(df.index[[0,2,3,8,9,10,11,12,13,14,15,16,17,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67]])
df3

In [14]:
#fill blanks
df3.loc[df3[11] == "",11] = df3[0] 
df3

In [15]:
#Correct mis alignments
df3.loc[df3[0] == "MSC",0] = df3[1] 
df3.loc[df3[0] == "MAE",0] = df3[1] 
df3.loc[df3[0] == "SML",0] = df3[1] 
df3

In [16]:
df3.loc[df3[1] == "20'",1] = df3[2] 
df3.loc[df3[0] == " ",0] = "Type" 
df3

In [17]:
#fill down values for line
for col in [11]:
    df3[col] = df3[col].ffill()
df4=df3.drop(columns=[4,5,6,7,8,9,10])
print(df4)

      0         1         2         3     11
1   Type  6/1/2020  6/2/2020  6/3/2020  None
4    20'      DUAL      DUAL      DUAL   MSC
5    40'      DUAL      DUAL    SINGLE   MSC
6   40HC      DUAL      DUAL    SINGLE   MSC
7     45      DUAL      DUAL    SINGLE   MSC
18   20'    SINGLE    SINGLE    SINGLE   MAE
19   40'    SINGLE    SINGLE    SINGLE   MAE
20  40HC    SINGLE    SINGLE    SINGLE   MAE
21    45    SINGLE    SINGLE    SINGLE   MAE
39   20'        NO        NO        NO   SML
40   40'        NO        NO      DUAL   SML
41  40HC        NO        NO      DUAL   SML
42    45        NO        NO      DUAL   SML

In [18]:
#Change Headers for line and equip type
df4[11] = df4[11].fillna(value="Line")
df4.head()

     0         1         2         3     11
1  Type  6/1/2020  6/2/2020  6/3/2020  Line
4   20'      DUAL      DUAL      DUAL   MSC
5   40'      DUAL      DUAL    SINGLE   MSC
6  40HC      DUAL      DUAL    SINGLE   MSC
7    45      DUAL      DUAL    SINGLE   MSC

In [22]:
# Set Headers
new_header = df4.iloc[0] 
df4.columns = new_header 
df5=df4.drop(df.index[[1]])
df5.head(30)

1   Type 6/1/2020 6/2/2020 6/3/2020 Line
4    20'     DUAL     DUAL     DUAL  MSC
5    40'     DUAL     DUAL   SINGLE  MSC
6   40HC     DUAL     DUAL   SINGLE  MSC
7     45     DUAL     DUAL   SINGLE  MSC
18   20'   SINGLE   SINGLE   SINGLE  MAE
19   40'   SINGLE   SINGLE   SINGLE  MAE
20  40HC   SINGLE   SINGLE   SINGLE  MAE
21    45   SINGLE   SINGLE   SINGLE  MAE
39   20'       NO       NO       NO  SML
40   40'       NO       NO     DUAL  SML
41  40HC       NO       NO     DUAL  SML
42    45       NO       NO     DUAL  SML

In [23]:
#Reorder....bc I did want to learn how to do it for both columns at once
col_name="Line"
first_col = df5.pop(col_name)
df5.insert(0, col_name, first_col)
df5

1  Line  Type 6/1/2020 6/2/2020 6/3/2020
4   MSC   20'     DUAL     DUAL     DUAL
5   MSC   40'     DUAL     DUAL   SINGLE
6   MSC  40HC     DUAL     DUAL   SINGLE
7   MSC    45     DUAL     DUAL   SINGLE
18  MAE   20'   SINGLE   SINGLE   SINGLE
19  MAE   40'   SINGLE   SINGLE   SINGLE
20  MAE  40HC   SINGLE   SINGLE   SINGLE
21  MAE    45   SINGLE   SINGLE   SINGLE
39  SML   20'       NO       NO       NO
40  SML   40'       NO       NO     DUAL
41  SML  40HC       NO       NO     DUAL
42  SML    45       NO       NO     DUAL

In [25]:
dates = df5.iloc[:, [2,3,4]]

In [26]:
df6=df5.melt(id_vars=["Line","Type"], 
              var_name="Date", value_name="TTI Status")
df6

   Line  Type      Date TTI Status
0   MSC   20'  6/1/2020       DUAL
1   MSC   40'  6/1/2020       DUAL
2   MSC  40HC  6/1/2020       DUAL
3   MSC    45  6/1/2020       DUAL
4   MAE   20'  6/1/2020     SINGLE
5   MAE   40'  6/1/2020     SINGLE
6   MAE  40HC  6/1/2020     SINGLE
7   MAE    45  6/1/2020     SINGLE
8   SML   20'  6/1/2020         NO
9   SML   40'  6/1/2020         NO
10  SML  40HC  6/1/2020         NO
11  SML    45  6/1/2020         NO
12  MSC   20'  6/2/2020       DUAL
13  MSC   40'  6/2/2020       DUAL
14  MSC  40HC  6/2/2020       DUAL
15  MSC    45  6/2/2020       DUAL
16  MAE   20'  6/2/2020     SINGLE
17  MAE   40'  6/2/2020     SINGLE
18  MAE  40HC  6/2/2020     SINGLE
19  MAE    45  6/2/2020     SINGLE
20  SML   20'  6/2/2020         NO
21  SML   40'  6/2/2020         NO
22  SML  40HC  6/2/2020         NO
23  SML    45  6/2/2020         NO
24  MSC   20'  6/3/2020       DUAL
25  MSC   40'  6/3/2020     SINGLE
26  MSC  40HC  6/3/2020     SINGLE
27  MSC    45  6/3/2020     SINGLE
28  MAE   20'  6/3/2020     SINGLE
29  MAE   40'  6/3/2020     SINGLE
30  MAE  40HC  6/3/2020     SINGLE
31  MAE    45  6/3/2020     SINGLE
32  SML   20'  6/3/2020         NO
33  SML   40'  6/3/2020       DUAL
34  SML  40HC  6/3/2020       DUAL
35  SML    45  6/3/2020       DUAL

In [27]:
engine = sqlalchemy.create_engine('postgresql://postgres:Chester8!@localhost:5432/ETL-Project')
con = engine.connect()
table_name = 'TTI Gate'
df6.to_sql(table_name, con)

ValueError: Table 'TTI Gate' already exists.

In [ ]:
df6.to_excel(r"C:\Users\CodyS\Desktop\ETL-Project\data.xlsx", index = False)
df6.to_csv(r"C:\Users\CodyS\Desktop\ETL-Project\TTI.csv", index = False)